*{
    margin: 0;
    padding: 0;
}
nav{
    float: left;
    position: absolute;
    left: 40px;
    top: 100px;
}
section{
    position: absolute;
    left: 300px;
    top: 100px;
    width: 400px;
}
ul{
    list-style-type: none;
}
h1{
    margin-left: 50px;
    margin-top: 20px;
}
#mainMenuList{
    margin-top: 20px;
}
h2{
    margin-bottom: 10px;
}
#plusUser{
    width: inherit;
    height: 30px;
}