*{
    margin: 0;
    padding: 0;
}
nav{
    float: left;
    position: absolute;
    top: 40px;
    left: 40px;
}
table{
    position: absolute;
    left: 480px;
    top: 40px;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
}